body {
    font-family: 'Arial Narrow Bold';
    background-color: rgb(2, 6, 54);
    align-items: center;
    padding-top: 90px
}

#titulo{
text-align: center;
margin-bottom: 40px;

}

.counter {
    padding: 50px;
    margin: auto;
    background-color: black;
    width: 400px;
    height: 350px;
    align-items: center;
    display: flex;
    border-radius: 30%;
    margin-bottom: 90px;
    padding-left: 50px;
}

.counter>* {
    width: 40px;
    background-color: rgb(31, 30, 30);
    border: 3px solid;
    border-color: rgb(31, 30, 30);
    border-radius: 30%;
    text-align: center;
}

#dots {
    width: 20px;
    background-color: black;
    border: none;
    margin-left: 10px;
}


h1 {
    color: rgb(255, 255, 255);
}